*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

#container-users{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(10, 10, 16, 0.8);
    backdrop-filter: blur(2px);
}

#container-users > div{
    padding: 5% 20%;
    background-color: #00e0be;
    border-radius: 20px;
}

#container-users > div > p{
    text-align: center;
    font-size: 16pt;
    margin-bottom: 5%;
}

.info-users{
    margin-bottom: 5%;
}